---
apiVersion: v1
kind: Secret
metadata:
  name: onabudget-secret
  namespace: onabudget-namespace
type: Opaque
stringData:
  BETTER_AUTH_SECRET: "YOUR_BETTER_AUTH_SECRET"
  BRAPI_API_TOKEN: "YOUR_BRAPI_API_TOKEN"
  METRICS_TOKEN: "YOUR_METRICS_TOKEN"
