---
apiVersion: v1
kind: Namespace
metadata:
  name: bidnow-namespace
---
apiVersion: v1
kind: Secret
metadata:
  name: bidnow-backend-secret
  namespace: bidnow-namespace
type: Opaque
stringData:
  DATABASE_URL: "postgresql://user:password@postgres-service:5432/Bidnow?sslmode=disable"
  AWS_ACCESS_KEY_ID: "YOUR_AWS_ACCESS_KEY"
  AWS_SECRET_ACCESS_KEY: "YOUR_AWS_SECRET_KEY"
