---
apiVersion: v1
kind: Namespace
metadata:
  name: bidnow-namespace
---
apiVersion: v1
kind: Secret
metadata:
  name: bidnow-recommendation-secret
  namespace: bidnow-namespace
type: Opaque
stringData:
  DB_URL: "postgresql://user:password@postgres-service:5432/Bidnow?sslmode=disable"
